<app-navbar></app-navbar>
<!-- <div class="container carouselclass">
<div id="carouselExample" class="carousel slide mt-3">
    <div class="carousel-inner justify-content-center align-content-center">
      <div class="carousel-item active">
        <img src="../../assets/clothes.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/gym.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/electronics.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->


<!-- <div class="container mt-2">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card custom-card mb-4">
          <div class="card-img-box p-4 bg-body-secondary">
            <img [src]="product.imageUrl" class="card-img-top border p-3 bg-body-tertiary cardImg" alt="{{ product.name }}">
          </div>
          <div class="card-body bg-body-secondary">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price: {{ product.price }} Rs</p>
            <button class="btn btn-dark" (click)="addToCart(product)" [routerLink]="['/cart']">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container mt-5">
    <div class="row p-2">
      <div class="col-md-12" *ngFor="let product of products">
        <div class="card custom-card mb-4" *ngIf="product.availability">
          <div class="row bg-body-secondary">
            <div class="col-md-4">
              <div class="card-img-box p-4 bg-body-secondary">
                <img [src]="product.imageUrl" class="card-img-top border p-3 bg-body-tertiary cardImg" alt="{{ product.name }}">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body cbody">
                <h5 class="card-title mt-3">{{ product.name }}</h5>
                <p class="card-text mt-4">{{ product.description }}</p>
                <p class="card-text">Price: {{ product.price }} Rs</p> 
                <button class="btn btn-dark" (click)="addToCart(product)" [routerLink]="['/cart']">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

<div class="pagination container mt-5 mb-3">
    <button class="btn btn-dark mb-2 mt-1 border" (click)="loadProducts(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span class="border p-2" *ngFor="let page of getPages()" (click)="loadProducts(page)"> <b>{{ page }}</b></span> 
    <button class="btn btn-dark mb-2 mt-1 border" (click)="loadProducts(currentPage + 1)" [disabled]="currentPage === totalPages()">Next</button>
</div>


